<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header-nav-style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/home-style.css') }}">
    <script src="{{ asset('https://kit.fontawesome.com/3d9e005fd2.js') }}" crossorigin="anonymous"></script>
    <title>Twarzobaza</title>
</head>
<body>
    <div class="main-container">
        {{ include('header_nav.html.twig') }}
        <main>
            <h1>Witaj!</h1>
            <p>Data aktualnej bazy: 20.02.2021</p>
            <hr>
            {% if is_granted('ROLE_FULL') %}
                <a class="add-post" href="{{ path('app_addpost') }}">DODAJ POST</a>
            {% endif %}

            {% for post in posts %}
                <div class="post">
                    <h1> {{ post.title }} </h1>
                    <p> {{ post.content }}</p>
                    <div class="post-bottom">
                        <div class="date-author">
                            <span class="author"><b>Autor: </b>{{ post.author.name }}</span>
                            <span class="date"><b>Data dodania: </b>{{ post.date|date("Y-m-d H:i:s") }}</span>
                        </div>
                        {% if app.user.id == post.author.id %}
                            <span class="remove">Usuń</span>
                        {% endif %}
                    </div>
                    <input class="postid" type="hidden" value="{{ post.id }}">
                </div>
            {% endfor %}
        </main>
    </div>
</body>