<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header-nav-style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/search-style.css') }}">
    <script src="{{ asset('https://kit.fontawesome.com/3d9e005fd2.js') }}" crossorigin="anonymous"></script>
    <!-- <script type="text/javascript" src="{{ asset('js/search.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset('js/search-validation.js') }}" defer></script> -->
    <title>Twarzobaza</title>
</head>
<body>
    <div class="main-container">
        {{ include("header_nav.html.twig") }}
        <main>
            <section class="search-form-container">
                {{ form_start(form, {'method': 'POST', 'attr': {'class': 'search-form'}}) }}
                    <label for="user">Użytkownik</label>
                    {{ form_widget(form.user) }}
                    <p class="date-input-text">Data (format RRRR-MM-DD GG:MM:SS)</p>
                    {{ form_widget(form.start_date) }}
                    {{ form_widget(form.end_date) }}
                    <p class="search-input-text">Szukana fraza</p>
                    <div class="search-input-container">
                        {{ form_widget(form.search_input) }}
                        {{ form_widget(form.search, {'attr': {'class': 'fas fa-search'}, 'value': ''}) }}
                    </div>
                    {{ form_widget(form._token) }}
                {{ form_end(form, {'render_rest': false})}}
                {# {{ form(form) }} #}
            </section> 
            
            <section class="results-container">
                <h1></h1>
                <div class="results-table-container">
                    <table>
                    </table>
                </div>
            </section>
            <br><br>
        </main>
    </div>
</body>

<template id="table-header-template">
    <tr>
        <th>Użytkownik</th>
        <th>Data</th>
        <th>Treść wiadomości</th>
    </tr>
</template>

<template id="message-template">
    <tr>
        <td>Użytkownik</td>
        <td>Data</td>
        <td>Treść wiadomości</td>
    </tr>
</template>


