<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header-nav-style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/statistics-style.css') }}">
    <script type="text/javascript" src="{{ asset('js/statistics.js') }}" defer></script>
    <script src="{{ asset('https://kit.fontawesome.com/3d9e005fd2.js') }}" crossorigin="anonymous"></script>
    <title>Twarzobaza</title>
</head>
<body>
    <div class="main-container">
        {{ include("header_nav.html.twig") }}
        <main>
            <section class="statistics-form-container">
                {{ form_start(form, {'attr': {'class': 'statistics-form'}}) }}
                    <label for="user">Użytkownik</label>
                    {{ form_widget(form.user) }}
                    <label for="groupby">Grupuj według</label>
                    {{ form_widget(form.groupby) }}
                    {{ form_widget(form.generate, {'attr': {'class': 'fas fa-arrow-right'}, 'value': ''}) }}
                {{ form_end(form, {'render_rest': false}) }}
            </section>
            <section class="results-container">
                <h1></h1> 
                <div class="results-table-container">
                     <table>
                    </table>
                </div>
            </section>
            <br><br>
        </main>
    </div>
</body> 
