<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/user-style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/header-nav-style.css') }}">
    <script src="{{ asset('https://kit.fontawesome.com/3d9e005fd2.js') }}" crossorigin="anonymous"></script>
    <title>Twarzobaza</title>
</head>
<body>
    <div class="main-container">
        {{ include('header_nav.html.twig') }}
        <main>
           <section class="user-info-container">
               <div class="user-info">
                    <h1> {{ user.name }} </h1>
                    <p>Dołączył: {{ user.joinDate|date('Y-m-d') }} </p>
                    {% if is_granted('ROLE_FULL') %}
                        <p>Pełne uprawnienia</p>
                    {% else %}
                        <p>Częściowe uprawnienia</p>
                    {% endif %}
                    <p>Konta: 
                        {% set str = "" %}
                        {% for account in accounts %}
                            {% set str = str ~ account.name ~ " (ID " ~ account.id ~ "), " %}
                        {% endfor %}
                        {{ str|trim(", ") }}
                    </p>
                    <a href="change_password">Zmień hasło</a>
               </div>
               <div class="user-image">
                   <img src="{{ asset('img/' ~ user.username ~ '.jpg') }}">
               </div>
           </section>
        </main>
    </div>
</body>